@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ===== GLOBAL ===== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url("bg.jpg") center / cover fixed no-repeat;
    margin: 0;
    color: #444;
}

/* ===== HEADER ===== */
.page-header {
    margin-top: 700px;
    text-align: center;
    margin: 25px 0;
    letter-spacing: 10px;
}

.name-title {
    margin-top: 150px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 7px;
}

.role-title {
    font-size: 13px;
    letter-spacing: 3px;
    color: lightgray;
    margin-top: -10px;
}

/* ===== BIO ===== */
.bio-wrapper {
    max-width: 1000px;
    margin: auto;
    display: flex;
    border-radius: 30px;
    background: rgba(255, 255, 251, 0.75);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.45);
    box-shadow: 0 20px 45px rgba(0, 0, 0, .15);
    position: relative;
}

.left-card {
    width: 250px;
    background: #d3b69d;
    border-radius: 30px 0 0 30px;
}

.bio-content {
    padding: 60px 60px 60px 120px;
    flex: 1;
}

.hello-title {
    font-size: 60px;
    margin-bottom: 5px;
    font-family: 'Fira Sans', sans-serif;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.hobby-list {
    padding-left: 20px;
    margin: 0;
}

/* ===== PROFILE PIC ===== */
.profile-pic {
    position: absolute;
    top: -45px;
    left: 20px;
    width: 100%;
    border-bottom-left-radius: 100px;
    position: absolute;
}

.profile-pic img {
    width: auto;
    height: auto;
    transform: scale(1.2);
}

/* ===== SECTIONS ===== */
.section {
    max-width: 1000px;
    margin: 60px auto;
}

/* ===== SKILLS ===== */
.skills-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 45px;
    padding-left: 20px;
    font-weight: bold;
    position: relative;
}

.skills-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 60%;
    background: #444;
}

.skills-row {
    font-family: 'Fira Sans', sans-serif;
    gap: 30px;
    margin-top: 30px;
    display: flex;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;

}

.skills-card {
    overflow: visible;
    flex: 1;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    background: rgba(255, 255, 255, .75);
    transition: all 0.3s ease;
    cursor: pointer;
}

.skills-card h2 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bold;
}

.skills-card p {
    font-family: Verdana, sans-serif;
    font-size: 13px;
    text-align: center;
}

.skills-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, .25);
}

.skills-card i {
    margin-top: -1px;
    font-size: 70px;
    transition: transform 0.3s ease;
}

.skills-card:hover i {
    color: #dfb96d;
    transform: scale(1.2);
}


/* ===== PROJECTS ===== */
.projects-container {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
}

.project-card {
    position: relative;
    width: 48%;
    height: 280px;
    border-radius: 22px;
    overflow: hidden;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.45);

    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.15),
        inset 0 0 0.5px rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.project-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .8));
}

/* hover effect */
.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
}

.card-content {
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;
}

/* ===== CONTACT ===== */
.contact-links {
    margin-left: 130px;
    margin-top: -45px;
    max-width: 100%;
}

.contact-links span {
    font-family: 'Fira Sans', sans-serif;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 265px;
    padding: 12px 18px;
    margin: 10px 0;
    background-color: #f6e1b5;
    border-radius: 25px;

    color: black;
    text-decoration: none;
    transition: all 0.3s ease;

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.45);
    box-shadow:
        0 20px 45px rgba(0, 0, 0, 0.15),
        inset 0 0 0.5px rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

.social-links:hover {
    background: #dfb96d;
    transform: translateY(-3px);
}

.social-links i {
    position: relative;
    padding-right: 12px;
}

.social-links i::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5px;
    height: 15px;
    background-color: black;
}

/* ===== FOOTER ===== */
.footer {
    text-align: center;
    margin: 40px 0;
    font-size: 14px;
    color: #555;
}

.navbar {
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    background: rgba(246, 225, 181, 0.75);

    box-shadow:
        0 20px 45px rgba(0, 0, 0, 0.15),
        inset 0 0 0.5px rgba(255, 255, 255, 0.6);
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;

    width: 0;
    height: 2px;
    background-color: black;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
    width: 80%;
    visibility: visible;
}