@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(brown.jpg) no-repeat;
    background-position: left;
    font-family: 'Fira Sans', sans-serif;
}

.form-container {
    background-color: #222;
    height: 600px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    position: relative;
}

.form-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(leaf.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.8;
}

.register-container {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    transition: 0.3s ease;
}

.form-container .form-title {
    color: #fff;
    text-align: center;
    font-size: 28px;
}

.form-container .form-holder {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 50px;
    transition: 0.3s ease;
}

.form-container .form-holder input {
    border: 0;
    outline: none;
    box-shadow: none;
    display: block;
    height: 45px;
    padding: 8px 15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    font-size: 12px;
}

.form-container .form-holder input:last-child {
    border-bottom: 0;
}

.form-container .form-holder input::placeholder {
    color: rgba(0, 0, 0, .4);
}

.form-container .submitbtn {
    background: #CD853F;
    border: none;
    border-radius: 15px;
    width: 100%;
    display: block;
    padding: 15px 45px;
    margin: 15px auto;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

.form-container .submitbtn:hover {
    background-color: #D2B48C;
}

.login-container {
    background-color: #fff;
    z-index: 5;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease;
}

.login-container::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 200%;
    height: 250px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    top: -20px;
    z-index: 4;
    transition: 0.3s ease;
}

.form-container .login-wrapper {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    text-align: center;
    transition: 0.3s ease;
}

.form-container .login-container .form-title {
    color: #000
}

.form-container .login-container .form-holder {
    border: 1px solid #eee;
}

.form-container .login-container .submitbtn {
    margin-bottom: 10px;
}

.form-container a {
    font-size: 13px;
    text-decoration: none;
    color: #A0522D;
}

.form-container a:hover {
    text-decoration: underline;
}

.form-container {
    position: relative;
    overflow: hidden;
}

.register-container,
.login-container {
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.login-container {
    transform: translateY(100%);
    opacity: 0;
}

.login-container.active {
    transform: translateY(0);
    opacity: 1;
}

.register-container.hide {
    transform: translateY(-100%);
    opacity: 0;
}