@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar {
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    background: rgba(246, 225, 181, 0.75);

    box-shadow:
        0 20px 45px rgba(0, 0, 0, 0.15),
        inset 0 0 0.5px rgba(255, 255, 255, 0.6);
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: black;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 80%;
        visibility: visible;
    }


.hero-section {
    background: url("new_.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.6em;
}

.hero-section h3 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
}

.hero-section p {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}

.button {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: white;
}

.button:hover {
    background-color: rgb(210, 105, 30);
    border-color: #000;
}

footer {
    border: none !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 0.85rem;
  }